
/*the start of the homepage sytlying*/
h1 {
  font-family: "Poppins", "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  color: #ed9b6b;
  font-size: 2.5rem;     
  font-weight: 600;       
  text-align: center;    
  margin-top: 20px;      
  margin-bottom: 20px;
}

/* Optional: style for dropdown menus inside navbar */
.navbar .dropdown-menu {
  background-color: #f1ccbd;
  z-index: 2000 !important;
}

/* Style for the entire navbar background if needed */
.navbar-custom {
  background-color: #f7b9a1; /* your custom color */
}

